[Unit]
Description=haproxy_exporter
After=network.target

[Service]
User=ryuser
Group=ryuser
Type=simple
ExecStart=/usr/local/haproxy_exporter/haproxy_exporter
Restart=on-failure
KillMode=process
RestartSec=5s
PrivateTmp=true

[Install]
WantedBy=multi-user.target
